*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

body{
    width: 100vh;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(108deg, #f3fff8 0%, #eafff3 100%);
}

.container{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 9px 20px 0px rgba(14, 88, 48, 0.1);
}

.heading{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    text-align: center;

}

.wrap-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    p{
        font-size: 16px;
        font-weight: 600;
    }
}

.range-slider{
    width: 400px;
    position: relative;
    margin: 15px 0 30px 0;
}

.range-fill{
    height: 6px;
    background-color: #3e36b3;
    position: absolute;
    z-index: 1;
}

input[type="range"]{
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
    position: absolute;
    left: 0;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #020880;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-user-drag: 100%;
    height: 5px;
    background: #eBeBe8;
    border-radius: 3px;
    border: none;
}

.input-box {
    display: flex;
    width: 100%;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}
.input-box .field {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}
.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    text-align: center;
    background-color: #cecece;
    -moz-appearance: textfield;
}
.separator {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}